<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= post.owner %>
  </p>

  <p>
    <strong>Recipient:</strong>
    <%= post.recipient %>
  </p>

  <p>
    <strong>Sharelink:</strong>
    <%= post.shareLink %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= post.status %>
  </p>

</div>
